
.body-home {
    background-image: url('../img/pancake-bg-sirin.png');
    background-color: #333;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left:0px;
    margin-right:0px;
  }
  
  .body-menu{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left:0px;
    margin-right:0px;
    box-sizing: border-box;
    background-color: #FEFBF3;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
  }

  .body-about {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left:0px;
    margin-right:0px;
    background-color: #FEFBF3;
  }

  .body-contact {
    background-color: #FEFBF3;
    font-family: 'Playfair Display', serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left:0px;
    margin-right:0px;
    line-height: 1.2;
  }

.img-menu{
    width: 100%;
}

.figure-menu{
    margin: auto;
    text-align: center;
    max-width: 150px;
}

  .main-div-1{
    display: flex; 
    margin: auto; 
    padding: 15em 4em 4em 4em; 
    align-items: center; 
    flex-direction: column;
  }
  .main-div-2{
    margin-top: 10px; 
    font-family: 'Playfair Display', serif;
  }

.center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.wrapper{
  display: grid;
  gap: 6rem;
  width: 90vw;
  margin: auto;
  margin-top: 3rem;
}

.menu-main > * h2{
  font-size: 1.8rem;
  text-decoration: underline;
}

.menu-main > * h3{
  font-size: 1.5rem;
}

.menu-main > * h4{
  font-size: 1.2rem;
  justify-self: flex-end; 
}

.menu-main > h1{
  margin-top: 2rem;
}

.menu-grid{
  display: grid;
  gap:8rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 5rem;
}

.dish-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin-top:1.5rem;
}

.description{
    line-height: 1.5rem;
    margin-top:0;
    text-align: justify;
}

#allergens{
    padding: 1rem;
    background-color: #faf3e7;
    border: 1px solid black;
    margin: 5rem 0 1rem 0;
}

#allergens > ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
 
/*  NAVIGATION START */ 
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  display: flex;
  width: 100%;
  font-size: 17px;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}

.navbar a {
display: inline-block;
color: #f2f2f2;
text-align: center;
padding: 15px 20px;
text-decoration: none;
font-size: 17px;
font-family: 'Playfair Display', serif;
}

.navbar a:hover {
background: #fef;
color: tomato;
}

/* Had to duplicate navbar for contact due to bootstrap incompatibility - to ensure page consistency */
.navbar-contact {
  overflow: hidden;
  background-color: #333;
  display: flex;
  margin-top: 0;
  width: 100%;
  justify-content: center;
  height: 49px;
}

.navbar-contact a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
  text-size-adjust: 0%;
}

.navbar-contact a:hover {
  background: #fef;
  color: tomato;
}

/* Had to duplicate navbar for menu due to bootstrap incompatibility - to ensure page consistency */
.navbar-menu {
  overflow: hidden;
  background-color: #333;
  display: flex;
  margin-top: 0;
  width: 100%;
  justify-content: center;
  height: 49px;
}

.navbar-menu a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
  text-size-adjust: 0%;
}

.navbar-menu a:hover {
  background: #fef;
  color: tomato;
}

/*  NAVIGATION END */ 

/* Contact CSS */
input.send-message {
    margin-top:1.5em;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px #f3f6fe;
    border:0;
    transition: background-color 0.2s ease-in-out;
    height: 3em;
    text-align: center;
    background-color: #ffe4ab;
    font-size: 16px;
    width:100%;
}
input.send-message:hover {
    background-color: transparent;
}
.myForm {
    margin: 0 3em 0 0;
}
.form-container {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding:10px 0px 10px 0px;
}
.main-div {
    display:flex;
    width:90vw;
    margin:auto;
}
.info-point {
    padding:10px 0px 10px 0px;
    line-height: 1.5;
}
.infos {
    display:flex; 
    flex-direction: column;
}
#main-content {
    display:block;
    padding: 8% 2em 3em 2em;
    margin: 0 auto;
    width:max-content;
}
/* End contact css */

  /* Menu-button start */   
      button {
            margin-top: 1em;
            border-radius: 5px;
            border:0;
            height: 5em;
            text-align: center;
            background-color: #333;
            font-size: 18px;
            width:100%;
            color: #fef;
        }
        button:hover {
            background-color: #ffdffe;
            font-size: larger;
            color: #FF0000;
            
        }
  /* Menu-button end */
  
/*  SOCIAL MEDIA ICONS START  */   
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }

  .fa:hover {
    background-color: #333;
    color: tomato;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: tomato;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
/*  SOCIAL MEDIA ICONS END  */

footer {
position: fixed;
display: flex;
height: 50px;
bottom:0px;
left:0px;
right:0px;
margin-bottom:0px;
justify-content: center;
}

article{
    margin-top: 70px;
}

.img-about{
    margin-top: 70px;
}

/* ABOUT US START */

   /* Scaling the images to look nicer */

.card > div.left > img,
    .card > div.right > img{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5%;
      display: block;
    }


/* Aligning the headings */

.card > div.right > article > h1,
.card > div.right > article > h2 {
      text-align: center;
      font-family: 'Playfair Display', serif;
    }


/*Making the text-boxes look better */

    .card > div.right > article {
      text-align: left;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

/* The following only works if the page size is bigger than 800 px, if not the images are on top of the text */
@media only screen and (min-width: 800px) {
  /* Set the type of box to border-box for both cards used for the about page*/
  .card {
    width: 100%;
    box-sizing: border-box;
  }

    /* Setting the size of both boxes in the card */
   .card > div.left,
   .card > div.right {
   height: 100%;
   width: 45%;

 }
   /*Setting the card to align elements in the middle*/
   .card > div {
   vertical-align: middle;
   display: inline-block;
   }

}
/* ABOUT US END */

/* BLUR start */
.blur {
  background: rgba(185, 185, 185, 0.233); 
  backdrop-filter: blur(3px); 
  height: 60vh;
	width: 70%;
  justify-content: center;
  max-width: 70%;
  max-height: 60%;
  margin-top: auto;
}
/* BLUR end */


